
    /* debut des slides testimoniales----------------------------*/



    .slider-1 {

        max-width: 800px;
        margin: 100px auto;
        overflow: hidden;
        /* border: 1px solid white; */
        margin-top: 300px;

    }



    .slider-1 .slider {
        display: flex;
        animation: slider-1 12s infinite ease-in-out;
    }

    .slider-1 p {
        background-color: orange;
        flex-shrink: 0;
        padding: 70px 0;
        width: 100%;

        color: rgb(254, 251, 251);
        text-align: center;
        font-size: 50px;
        border-radius: 40px;

        margin-top: 80px;
        font-weight: 900;


    }

    .slider-1 span {
        font-size: 40px;
    }

    @keyframes slider-1 {

        0%,
        20% {
            transform: translateX(0);

        }

        25%,
        45% {
            transform: translateX(-100%);

        }

        50%,
        70% {
            transform: translateX(-200%);

        }

        75%,
        95% {
            transform: translateX(-300%);

        }

        100% {
            transform: translateX(-400%);
        }
    }

    .slider-1 div {
        width: 100%;
        height: 500px;

        border-radius: 10px;

        flex-shrink: 0;
        padding: 70px 0;
        align-items: center;
    }

    .slider-1 div img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 280px;
        border: 6px solid orange;


    }

    .slider-1 img {
        margin-top: -60px;
    }

    .slider-1 i {
        margin-left: 350px;
    }


    /* fin des slides-testimoniale---------------------------------- */



    /* debut de la class member -------------------------*/
    .col {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: 500px;

        width: 100%;
        margin-top: 160px;

    }

    .member {
        margin-top: 90px;
        margin-left: 20px;
    }

    .col img {
        height: 400px;
        width: 100%;
        margin-left: -1px;
        margin-top: -2px;
        border-radius: 8px;
        transition: .5s ease;
    }

    .member ion-icon {
        margin-left: 15px;
    }

    .col img:hover {
        box-shadow: 0 .1rem 2rem orange;
        transform: scale(1.02);
    }

    .col1 h2,
    .col1 h3 {
        margin-left: 70px;
    }

    .col2 h2,
    .col2 h3 {
        margin-left: 70px;
    }

    .col3 h2,
    .col3 h3 {
        margin-left: 70px;
    }

    .col4 h2,
    .col4 h3 {
        margin-left: 70px;
    }

    .col5 h2,
    .col5 h3 {
        margin-left: 70px;
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5 {
        border: 1px solid rgb(18, 17, 15);

        margin-left: 10px;
        border-radius: 8px;

    }

    .col1:hover {
        border-bottom: 8px solid orange;
    }

    .col2:hover {
        border-bottom: 8px solid orange;
    }

    .col3:hover {
        border-bottom: 8px solid orange;
    }

    .col4:hover {
        border-bottom: 8px solid orange;
    }

    .member h2,
    .member h1 {
        text-align: center;
    }

    /* fin de la class member------------------------------------------- */
    /* debut de la class contener -------------------------------------*/
    .contener {
        background-image: url(th.jpeg);
        width: 100%;
        height: 600px;
        margin-top: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        margin-left: 30px;
        overflow: hidden;



    }

    .contener h1 {

        color: white;
        width: 600px;
    }

    .contener .p {
        font-size: 20px;
        width: 400px;
    }

    .contener h1,
    .contener p,
    .contener button {
        margin-top: 50px;
    }

    .contener button {
        margin-left: 70px;
        color: orange;
        border-radius: 8px;
        font-size: 40px;
    }

    .fiche {
        float: right;
        margin-top: -470px;
        background-color: white;
        width: 40%;
        height: 300px;
        margin-right: 30px;
        border: 5px solid darkorange;
        border-radius: 10px;
        box-shadow: 0 .1rem 2rem yellow;
        transition: .5s ease;
    }

    .fiche:hover {
        box-shadow: 0 .1rem 2rem orange;
        transform: scale(1.02);
    }

    .fiche input {
        width: 68%;
        height: 40px;
        margin-top: 20px;
        background-color: blanchedalmond;
        margin-left: 28px;
    }

    .somme {
        margin-top: -16px;
        z-index: 3;
        color: black;
        margin-left: 26px;


    }

    .somme .p1,
    .p2,
    .p3 {
        display: inline-block;

        width: 100px;
        text-align: center;
        height: 30px;
        background-color: blanchedalmond;
    }

    .somme .p1 {
        border: 2px solid orange;
        color: orange;
    }

    .somme .p2:hover {
        border: 2px solid orange;
    }

    .somme .p3:hover {
        border: 2px solid orange;
    }

    .fiche button {
        width: 180px;
        height: 30px;
        font-size: 20px;
        margin-top: 20px;
        background-color: orange;
        color: white;
    }

    .fiche button ion-icon {
        border-radius: 20px;
        background-color: white;
        color: black;
        margin-left: 9px;
    }

    .fiche button:hover {
        background-color: white;
        color: orange;
    }



    /* fin de la class contener --------------------------*/
    /* debut de la class blo ---------------------------------------------------*/

    .what h2 {
        color: black;

        font-size: 36px;
        text-decoration: none;

    }

    .what {
        width: 100%;
        height: 150px;
        background-color: white;
        text-align: center;



    }

    .block {
        display: grid;
        grid-template-columns: 30% 5% 30% 5% 30%;
        height: 500px;
        margin-top: 100px;

        width: 100%;

    }

    .block button {
        z-index: 3;
        width: 180px;
        height: 60px;
        background-color: white;
        border: 2px solid orange;
        position: absolute;
        margin-top: 180px;
        margin-left: -320px;
        border-radius: 20px;


    }


    .block button ion-icon {
        background-color: orange;
        border-radius: 20%;
    }

    .block button ion-icon:hover {
        background-color: white;
    }

    .block button:hover {
        background-color: orange;
        border: 2px solid blanchedalmond;
    }

    .block h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .container {
        width: 100%;
        height: 1600px;
        position: relative;
    }

    .blo {
        margin-top: -750px;
    }

    .bock1,
    .bock2,
    .bock3 {
        border-top: 5px solid orange;
        border-radius: 15px;

        text-align: center;
        /* border-left: 9px solid orangered; */
        width: 100%;
        margin-left: 20px;

    }

    .block h3 {
        text-align: center;
        margin-top: -5px;
        background-color: orange;
        width: 140px;
        height: 30px;
        margin-left: 140px;

        border-radius: 12px;
    }

    i p {
        display: inline;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-evenly;
        /* flex-direction: row; */
        flex-direction: row-reverse;







    }

    i {

        float: left;

    }

    .progress {
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 70px;
        width: 90%;
        margin-left: 10px;



    }

    .value {
        background-color: orange;
        padding: 6px;
        width: 90%;


    }

    .block .bock1 img,
    .bock2 img,
    .bock3 img {
        margin-top: 10px;
        width: 96%;
        height: 400px;
        margin-left: -5px;
        z-index: 2;

    }

    .bock3 img:hover,
    .bock1 img:hover,
    .bock2 img:hover {



        border-radius: 5px;
        transition: 1.3s ease;
        opacity: 0.5;



    }

    /* fin de la class blo */



    /* debut des styles des images */
    .img img {
        z-index: 3;
        border: 6px solid white;
        width: 20%;
        height: 190px;

        margin-left: 30px;
        margin-top: -800px;
        transition: .5s ease;

    }

    .img img:hover {
        box-shadow: 0 .1rem 2rem orange;
        transform: scale(1.02);
    }

   .bloc1 .im {
        margin-top: 150px;
        width: 80%;
        height: 600px;
        margin-left: 70px;
    }

    .us {
        text-align: center;
        margin-top: -100px;
        color: white;
    }

    .slider button {
        margin-top: 40px;
    }

    /* fin des styles des images --------------------------------------------- */

    /* fin des styles des images---------------------------------------  */



    /* debut bloc -----------------------------------------------------------------*/
    .bloc {

        height: 200px;
        /* position: absolute; */
        margin-top: 30px;
        position: static;
        margin-bottom: 50px;

    }

    .bloc1 {
        background-color: rgb(254, 251, 251);
        color: aliceblue;
        width: 50%;





    }

    .bloc2 {
        background-color: rgb(246, 251, 252);
        color: antiquewhite;
        width: 50%;
        float: right;
        margin-top: -670px;


    }

    h1 {
        color: black;
        font-weight: bold;
        font-size: 60px;

    }

    .bloc2 a {
        background-color: rgb(182, 252, 252);
        border: 0.1px solid black;
        border-radius: 6px;
        color: darkorange;



    }

    span {
        font-size: 20px;
        color: black;
        margin-left: 15px;
    }

    .bloc2 span p {
        color: chocolate;

    }

    .con {
        border-bottom: 8px solid orange;
        border-radius: 6px;
    }

    h2 {
        font-size: 36px;
        /* text-decoration: none; */
        color: black;
    }

    .bloc2 p {
        font-size: 20px;
        color: black;
        margin-top: 30px;
    }

    .bloc2 .b1,
    .b2 {
        width: 170px;
        height: 70px;
        font-size: 23px;
        margin-left: 20px;
        border-radius: 8px;
        display: inline-block;

    }

    .bloc2 .b2 {
        width: 170px;
        height: 70px;
        font-size: 23px;
        margin-left: 20px;
        border-radius: 8px;
        background-color: orange;
    }

    .bloc2 .b1:hover {
        background-color: orange;
    }

    .bloc2 .b2:hover {
        background-color: rgb(254, 252, 250);
    }

    .b1 ion-icon {
        background-color: orange;
        border-radius: 15px;

    }

    .b2 ion-icon {
        background-color: rgb(239, 245, 237);
        border-radius: 15px;

    }

    /* fin de la class bloc ---------------------------------------------------*/



    .slider-2 {

        width: 100%;
        /* margin: 110px auto; */
        overflow: hidden;
        /* border: 1px solid white; */


    }

    .slider-2 .slider {
        display: flex;
        animation: slider-1 12s infinite ease-in-out;
    }

    .slider-2 p {

        flex-shrink: 0;
        padding: 70px 0;
        width: 100%;
        color: rgb(251, 250, 248);
        text-align: center;
        font-size: 50px;
        border-radius: 40px;


        margin-top: -700px;
        font-weight: 900;


    }

    .slider-2 span {
        font-size: 40px;
    }

    @keyframes slider-2 {

        0%,
        20% {
            transform: translateX(0);

        }

        25%,
        45% {
            transform: translateX(-100%);

        }

        50%,
        70% {
            transform: translateX(-200%);

        }

        75%,
        95% {
            transform: translateX(-300%);

        }

        100% {
            transform: translateX(-400%);
        }
    }

    .slider-2 div {
        width: 100%;
        height: 700px;

        border-radius: 10px;

        flex-shrink: 0;
        padding: 70px 0;
        align-items: center;
    }

    .slider-2 div img {
        width: 100%;
        height: 900px;




    }

    .slider-2 img {
        margin-top: -100px;
    }











    footer {
        margin-top: 80px;

        background-color: black;
        width: 1530px;
        height: 300px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .foot2,
    .foot1,
    .foot3,
    .foot4 {
        margin-top: 20px;
        margin-left: 20px;

    }
        .foot1{
            margin-left: 30px;
        }
                .foot4{
                    margin-right: 30px;
                }

    .foot1 h1,
    .foot1 p {
        color: white;
    }

    .foot1 p {
        margin-bottom: 30px;
    }

    .foot1 h1:hover {
        color: blue;
    }

    .foot1 h1 span {
        color: orange;
        font-size: 55px;
        font-weight: 700;
    }

    .foot2 .adress {
        font-size: 35px;
    }

    .foot2 ul p {
        margin-top: 26px;
    }

    .foot1 ul img {

        margin-left: -10px;
        margin-top: -20px;
        margin-right: 10PX;

    }

    .foot2 ul {
        margin-top: 40px;
    }

    .foot2 {

        color: white;
        margin-left: 60px;
    }

    .foot4 .news {
        font-size: 35px;
    }

    .foot3 p {
        color: white;
        font-size: 35px;
    }

    .foot3 table ion-icon {
        color: white;
        margin-left: 20px;
    }

    .foot3 {
        margin-left: 60px;
    }

    .foot4 {
        margin-left: 60px;
        color: white;
    }

    .foot4 .conter {
        border: 3px solid orange;
        width: 260px;
    }

    .foot4 .conter button {
        width: 80px;
        float: right;
        border: 2px solid orange;

    }

    .foot4 .conter {
        margin-top: 30px;
    }

    .foot4 .conter button:hover {
        background-color: orange;
        border-radius: 10px;
    }
        .foot3 tr a {
            color: white;
        }
    
        .foot2 a {
            color: white;
        }

    